<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All task tags
    </h1>

    <a href="/task_tags/new" class="btn btn-block btn-outline-secondary">
      Add a new task tag
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "task_tag_templates/task_tags_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Task
        </th>

        <th>
          Tag
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @task_tags.each do |task_tag| %>
      <tr>
        <td>
          <%= task_tag.id %>
        </td>

        <td>
          <% if task_tag.task.present? %>
            <a href="/tasks/<%= task_tag.task.id %>">
              <%= task_tag.task.caption %>
            </a>
          <% end %>
        </td>

        <td>
          <% if task_tag.tag.present? %>
            <a href="/tags/<%= task_tag.tag.id %>">
              <%= task_tag.tag.name %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(task_tag.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(task_tag.updated_at) %> ago
        </td>

        <td>
          <a href="/task_tags/<%= task_tag.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @task_tags, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
