<h1>
  Edit task #<%= @task.id %>
</h1>

<hr>

<form action="/update_task/<%= @task.id %>" method="post">

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @task.caption %>">
  </div>

  <div class="form-group">
    <label for="due_date">
      Due date
    </label>

    <input type="text" id="due_date" name="due_date" class="form-control" value="<%= @task.due_date %>">
  </div>

  <div class="form-group">
    <label for="recurring_scheme_id">
      Recurring scheme
    </label>

    <input type="text" id="recurring_scheme_id" name="recurring_scheme_id" class="form-control" value="<%= @task.recurring_scheme_id %>">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update task
  </button>
</form>

<hr>

<a href="/tasks">
  Go back
</a>
