<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Task #<%= @task.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tasks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @task.user %>
          <a href="/tasks/<%= @task.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit task
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @task.user %>
          <a href="/delete_task/<%= @task.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete task
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @task.caption %>
      </dd>

      <dt>
        Due date
      </dt>
      <dd>
        <%= @task.due_date %>
      </dd>

      <dt>
        Recurring scheme
      </dt>
      <dd>
        <%= @task.recurring_scheme_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @task.user.present? %>
          <a href="/users/<%= @task.user_id %>">
            <%= @task.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "task_templates/task_task_tags" %>
  </div>
</div>
